
.keyword {
    color: #569cd6; /* Niebieski dla słów kluczowych */
}

.class-name {
    color: #4ec9b0; /* Zielony dla nazw klas */
}

.function {
    color: #dcdcaa; /* Jasny żółty dla funkcji */
}

.property {
    color: #9cdcfe; /* Jasny niebieski dla właściwości */
}

.string {
    color: #ce9178; /* Czerwonawy dla ciągów znaków */
}

.return {
    color: #c586c0; /* Fioletowy dla "return" */
}
